---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

.markdown {
  img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .wp-video, .tr-caption-container {
    width: 100% !important;
    height: initial !important;
  }

  span span {
    color: rgb(49, 54, 59) !important;
  }
}

@media (prefers-color-scheme: dark) {
  .bg-light {
    background-color: rgba(0,0,0,.03) !important;
  }
  .breadcrumb-item.active {
    color: white;
  }
  .markdown span span {
    color: white !important;
  }
}

@media (max-width: 540px) {
  .intro {
    flex-direction: column;
  }

  .intro div {
    text-align: center;
  }

  .intro img {
    min-width: 100px !important;;  
  }

  .intro h2 {
    font-size: 1.5rem;
  }

  .intro h5 {
    font-size: 1.1rem;
  }

  .card-header h3 {
      font-size: 1.4rem;
  }
}

